#root {
  height: 100%;
  min-height: 100vh; }

.MyMenu {
  width: 100%;
  height: 80px;
  background-color: #d33; }
  .MyMenu ul {
    width: 100%;
    height: 100%; }
    .MyMenu ul li {
      display: block;
      margin: 0 10px;
      border: 1px solid #fff;
      width: 100px;
      text-align: center;
      height: 32px;
      line-height: 32px;
      border-radius: 4px; }
      .MyMenu ul li a {
        display: block;
        color: #fff; }
      .MyMenu ul li:hover {
        background-color: #0a8acd; }

.content {
  padding: 20px 0; }

.btn {
  width: 200px;
  margin: 0 auto;
  display: block;
  height: 40px;
  background-color: #d33;
  border: none;
  color: #fff;
  border-radius: 40px;
  cursor: pointer; }

.disabled {
  background-color: #ccc; }

.desc {
  text-align: center;
  margin: 10px 0; }

.action {
  margin-top: 30px; }

.loadingImg {
  margin: 0 auto; }

.postList {
  width: 800px;
  margin: 0 auto; }

.postItem {
  border-bottom: 1px solid #eee;
  padding: 10px 0; }
  .postItem img {
    width: 150px;
    margin-right: 20px; }
  .postItem aside .postMeta {
    margin: 6px 0; }
    .postItem aside .postMeta span {
      margin-right: 20px;
      font-size: 14px;
      color: #999;
      color: #fff;
      padding: 2px 10px;
      border-radius: 12px; }
      .postItem aside .postMeta span:first-child {
        background-color: #d33; }
      .postItem aside .postMeta span:last-child {
        background-color: #0a8acd; }
  .postItem aside .postExcerpt {
    font-size: 14px;
    color: #999; }
